.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    margin-top: 5rem;
    /* border: 1px solid green; */
}

.formInput {
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
}

.formButton {
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #f5f5f5;
    border: 1px solid #777777;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}