.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  min-height: 50vh;
  /* border: 1px solid red; */
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
  align-items: center;
  padding: 3rem;
  min-height: 50vh;
  margin-top: 3rem;
  /* border: 1px solid red; */
}

.generatedPrompt {
  max-width: 30rem;
  /* border: 1px solid blue; */
}

/* .generatedImage {
  border: 1px solid blue;
  margin-top: 5rem;
} */

.regen {
  width: 12rem;
  height: 2rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #777777;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.regen:hover {
  background-color: #777777;
  color: #f5f5f5;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin-top: 1rem;
  /* border: 1px solid red; */
}